$base-purple1: #B200B7;
$base-purple2: #770578;
$base-orange1: #f38100;
$base-orange2: #DB682E;

.game-container {
	display: grid;
	grid-template-columns: 1fr 0.40fr 1fr;
	grid-template-rows: 400px;
	justify-content: space-around;
	height: 400px;
	margin-left: 30px;
	margin-right: 30px;
	color: white;
	margin-top: 50px;
}

.player1-container {
	background: linear-gradient(to left, $base-purple1, $base-purple2);
}

.global-tasks {
	padding-left: 20px;
	padding-right: 20px;
	background: linear-gradient(to right, $base-purple1, darkgray 10%, darkgray 90%, $base-orange1);
}

.global-tasks > span {
	font-size: 60px;
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.player1-bubble {
	width: 90%;
	height: 25%;
	background-color: lightgray;
	border: 1px solid black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	float: left;
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 30px;
}

.player2-bubble {
	width: 90%;
	height: 25%;
	background-color: lightgray;
	border: 1px solid black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	float: left;
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 30px;
}

.player1-bubble p, .player2-bubble p {
	position: relative;
	top: 20%;
	transform: translateY(-50%);
}

.global-tasks {
	text-align: left;
}

.global-tasks > p {
	border-top: 1px solid grey;
	color: black;
	padding-top: 8px;
	margin: 7px !important;
}

.move-icon {
	width: 20px;
	height: 20px;
	margin: 0 3px 0 3px;
	display: inline-block;
	vertical-align: middle;
}

.move-description {
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

#test-p {
	margin-top: 40px;
	margin-left: 25%;
	margin-right: 25%;
}

.main-container {
	height: 100%;
}

.host-email {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 3s ease-in-out infinite alternate;
	-moz-animation: glow 3s ease-in-out infinite alternate;
	animation: glow 3s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px $base-purple1, 0 0 40px $base-purple2, 0 0 50px $base-purple2, 0 0 60px $base-purple2, 0 0 70px $base-purple2;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px $base-orange1, 0 0 40px $base-orange1, 0 0 50px $base-orange2, 0 0 60px $base-orange2, 0 0 70px $base-orange2, 0 0 80px $base-orange2;
	}
  }

.host-email {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 22px;
	text-decoration: underline;
	font-weight: bold;
}

.player1-status img, .player2-status img {
	width: 50px;
	height: 40px;
	margin-left: 1px;
	margin-right: 1px;
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
}

.player2-container {
	background: linear-gradient(to right, $base-orange1, $base-orange2);
}

.authorize-button {
	height: 10px;
	width: 20px;
	background-color: gray;
	position: absolute;
}

.testButton {
	height: 50px;
	width: 50px;
	background-color: pink;
}

.player1-div, .player2-div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
	height: 100%;
}

.player1-image img, .player2-image img {
	margin-top: 50px;
	height: 370px;
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .9));
}

#game-logo {
	width: 40%;
	margin-bottom: 10px;
	margin-top: 10px;
}
