.ad-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.ad-player1 {
padding-top: 55px;
margin-right: 25px;
margin-left: auto;
}

.ad-player2 {
padding-top: 55px;
margin-left: 25px;
margin-right: auto;
}

.ad-bloc {
}
