.app_container {
    margin: 0;
    height: 100%;
}

.player_name {
    position: relative;
    top: 0%;
}

.btn_container {
    display: inline-block;
    height: 10%;
    width: 50%;
    text-align: center;
    margin-top: 1em;
}

.p1,
.p2 {
    margin: 0;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
}

.player_image {
    position: relative;
    left: 50%;
    transform: translateX(-100%);
    width: 50%;
    height: auto;
}

.hp_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid black;
    width: 75%;
    height: 1em;
}

.hp_bar {
    height: 100%;
    background-color: green;
}