.p1_btn {
    margin-left: 17%;
}

.p1,
.p2 {
    width: 49%;
    vertical-align: bottom;
    display: inline-block;
    text-align: center;
}

.player_image {
    height: 50vh;
    width: 50vw;
    height: auto;
}